.main {
  background-color: #111827;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 90vh;
  border: 5px solid #374151;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px; 
}



.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 80%;
  background-color: #1f2937;
  border-radius: 20px;
}

.result-container {
  width: 80%;
  height: 20vh;
  border: 5px solid #374151;
  border-radius: 20px; /* add rounding */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account-name-container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    background-color: #374151;
    border-radius: 10px;
    margin: 10px;
}

#deposit-button {
    background-color: #2563eb;
    color: #ffffff;
}

#withdraw-button {
    background-color: #4b5563;
    color: #ffffff;
}

#home-button {
    background-color: #dc2626;
    color: #ffffff;
}

#save-button {
    background-color: #2563eb;
    color: #ffffff;
}

label { 
    font-size: 16px;
    margin: 10px;
}
input {
    margin: 3px;
}
button {
    margin: 5px;
    width: 100px;
    height: 50px;
}

p {
    font-size: 16px;
}
