.main {
  background-color: #F4EBD0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 90vh;
  border: 5px solid #7A8450;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px; 
}

.main-container,
.result-container {
  width: 90%;
  border: 5px solid #7A8450;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: #C7A27C;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

label { 
    font-size: 18px;
    margin: 10px;
}
input {
    margin: 3px;
}
button {
    margin: 5px;
    width: 100px;
    height: 50px;
}

p {
    font-size: 20px;
}
