/* Base background and text color for the whole page */
.body {
    background-color: #111827;
    color: #ffffff;
}

.container {
    width: 100%;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

.header {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

/* Top half of the page */
.account-grid {
    margin-bottom: 2.5rem;
    display: grid;
    /* Making it 4 columns */
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
}

/* Account information section which displays the user, balances, and dropdown */
.account-info {
    background-color: #1f2937;
    padding: 1.5rem;
    flex-direction: column;
    /* Using 3 columns */
    grid-column: span 3;
}

.balances-grid {
    display: grid;
    /* Using 3 columns */
    grid-template-columns: repeat(3, minmax(0, 3fr));
    gap: 1rem;
}

.balance-card {
    background-color: #374151;
    padding: 1rem;
    margin-bottom: .5rem;
}

/* Dropdown Selection */
.account-select {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.75rem;
    background-color: #4b5563;
    color: #ffffff;
}

/* Account actions column/section */
.account-actions {
    background-color: #1f2937;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column: span 1
}

/* Account action buttons */
.btn {
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* Transfer button */
.btn-primary {
    background-color: #2563eb;
    color: #ffffff;
}

/* Account Page button */
.btn-secondary {
    background-color: #4b5563;
    color: #ffffff;
}

/* Logout button */
.btn-danger {
    background-color: #dc2626;
    color: #ffffff;
}

/* Bottom Half - Transaction History */
.transactions-section {
    background-color: #1f2937;
    padding: 1.5rem;
}

.transactions-header {
    font-size: 2rem;
    text-align: center;
}

/* Putting feed and chart side by side */
.transactions-layout {
    display: flex;
    gap: 2rem;
}

.history-feed {
    flex: 1;
    background-color: #374151;
    padding: 1.5rem;
}

.history-feed-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.transaction-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    background-color: #4b5563;
}

.transaction-item-details p.date {
    font-size: 0.75rem;
}

/* Transaction red color */
.transaction-amount-debt {
    font-weight: 500;
    color: #fca5a5;
}

/* Transaction green color */
.transaction-amount-gain {
    font-weight: 500;
    color: #86efac;
}