body{
    background-color: #111827;
    color: #ffffff;
}


.body {
    background-color: #111827;
    color: #ffffff;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #283444;
    border-radius: 0.5rem;

}

input{
    border: 2px solid #171b22;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1rem;

    background-color: #1f2937;
    color: #ffffff;
}

input:focus{
    outline: none;
    border-color: #13346b;
}

h1{
    text-align: center;
    margin-bottom: 1rem;
}
h3{
    text-align: center;
    margin-bottom: 2rem;
}

.bottom-nav{
    margin-top: 1.5rem;
    text-align: center;
}